//////////////////////////////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 3rem;
}

////////////////////////////////
// SEARCH

.search {
    
    flex: 0 0 40%; //Sets 40% of header basis;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input{
        font-family: inherit; //Input does not inherit
        font-size: inherit; //Also does not inherit
        background-color: var(--color-grey-light-2);
        border: none;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem; //ALlows button to move on top of input

        &:focus{ //Selected
            outline: none;
            width: 100%; //Gives stretch factor
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button { //Adjacent selector
        background-color: var(--color-grey-light-3);
    }

    &__button{
        border: none;
        background-color: var(--color-grey-light-2);
        fill: var(--color-grey-dark-3); //Used to change color of SVG
        &:focus{
            outline: none;
            
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon { //Simple SVG Sizing
        height: 2rem;
        width: 2rem;
    }
}


///////////////////////////////
// USER NAV

.user-nav{
    display: flex;
    align-items: center;
    align-self: stretch;
    
    
    & > * { //Direct Children
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-3);
    }

    &__notification{
        border-radius: 50%;
        background-color:var(--color-primary);
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex; //Works for text elements as well as child elements!!
        align-items: center;
        justify-content:center;
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 2rem;
    }
}